{% extends "base.html" %}

{% block title %}Checkout{% endblock %}

{% block content %}
    <div class="section-cart__title">Оформление заказа</div>
<div class="row order">
    <div class="col-md-6">
        <form action="." method="post" class="order-form">
            <div class="order-form__content">
                {{ form.as_p }}
                <button class="btn btn__black">Оформить заказ</button>
                {% csrf_token %}
             </div>
        </form>
    </div>
    <div class="col-md-6">
    <div class="order-info">
    <h3>Ваша корзина</h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }}x {{ item.product.name }}
                    <span>${{ item.total_price }}</span>
                </li>
            {% endfor %}
            {% if cart.coupon %}
                <li>
                    "{{ cart.coupon.code }}" ({{ cart.coupon.discount }}% off)
                    <span>- ${{ cart.get_discount|floatformat:"2" }}</span>
                </li>
            {% endif %}
        </ul>
        <p class="order__total">Итого: {{ cart.get_total_price_after_discount|floatformat:"2" }} руб</p>
    </div>
</div>
</div>


{% endblock %}